* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;

}

body {
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}

header h1, h4 {
  display: flex;
  align-items: center;
}

header {
  margin-top: 3rem;
  display: flex;
  height: 5rem;
  width: 80rem;
  background-color: royalblue;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: azure;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto;
  width: 80rem;
}

.grid-container li {
  list-style: none;
}

#hover-list{
  display: grid;
  width:15rem;
  height: 49.5rem;
  background-color: chartreuse;
}

#icon-list-text {
  width: 15rem;
    padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

#icon-list-text li {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

@keyframes onIconHover {
  from {
    height: 32px;
    width: 32px;
  }
  to {
    height: 100%;
    width: 25%;
  }
}

@keyframes offIconHover {
  from {
    height: 100%;
    width: 25%;
  }
  to {
    height: 32px;
    width: 32px;
  }

}

.pause {
  animation: none;
}

#icon-list-text li img:hover {
  animation: onIconHover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#icon-list-text li img:not(:hover) {
  animation: offIconHover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: crosshair;
}

#icon-list-text li a {
  display: flex;
  padding: .5rem;
}

#icon-list-text li a:hover {
  cursor: pointer;
}

.middle-container{
  display: grid;
  width: 50rem;
  height: 49.5;
  background-color: crimson;
}

.right-container{
  display: grid;
  width: 15rem;
  height: 49.5rem;
  background-color: blue;
}

.right-top,
.right-middle,
.right-bottom {
  width: 100%;
}

.right-middle img {
  width: 100%;
}

footer{
  display: flex;
  height: 5rem;
  width: 80rem;
  background-color: chocolate;
}
