* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;

}

body {
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}

header h1, h4 {
  display: flex;
  align-items: center;
}

header {
  margin-top: 3rem;
  display: flex;
  height: 5rem;
  width: 80rem;
  background-color: #415CE0;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: azure;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto;
  width: 80rem;
}

.grid-container li {
  list-style: none;
}

#hover-list{
  display: grid;
  width:15rem;
  height: 49.5rem;
  background-color: #369FE0;
}

#icon-list-text {
  width: 15rem;
    padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

#icon-list-text li {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

@keyframes onIconHover {
  from {
    height: 32px;
    width: 32px;
  }
  to {
    height: 100%;
    width: 25%;
  }
}

@keyframes offIconHover {
  from {
    height: 100%;
    width: 25%;
  }
  to {
    height: 32px;
    width: 32px;
  }

}

.pause {
  animation: none;
}

#icon-list-text li img:hover {
  animation: onIconHover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

#icon-list-text li img:not(:hover) {
  animation: offIconHover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: crosshair;
}

#icon-list-text li a {
  display: flex;
  padding: .5rem;
}

#icon-list-text li a:hover {
  cursor: pointer;
}

.middle-container{
  display: grid;
  width: 50rem;
  height: 49.5;
  background-color: crimson;
}

.mid-top{
  display: flex;
  height: 100%;
  width: 100%;
}
.mid-bottom{
  display: flex;
  background-color: #418CE0;
  
}
.right-container{
  display: grid;
  width: 15rem;
  height: 49.5rem;
  background-color: #369FE0;
}

.right-top,
.right-middle,
.right-bottom {
  width: 100%;
}

.right-top {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.right-middle img{
  padding:1rem;
}
.right-bottom{
  display: grid;
}

.right-bottom a {
  margin-left: 1rem;
  margin: 0;
}

.right-bottom p {
  margin-left: 1rem;
}

.right-middle img {
  width: 100%;
}

footer{
  display: flex;
  height: 5rem;
  width: 80rem;
  background-color: #415CE0;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1.5rem;
  background-color:#E0D32B ;
}

.send-message{
  display: flex;
  width: 100%;
  height:2.5rem;
  border-radius:0.4rem;
  border:1px solid black;
  font-weight:bold;
  color:grey;

}

span {
  width: 100%;
  height: calc(100% / 3);
  display:flex;
  background-color: #369FE0;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

span:hover {
  cursor: pointer;
  background-color: #415CE0;
}

.chatbox-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  }

.chat-menu{
  display: flex;
  height:100%;
  width:60%;
  border:4px solid #415CE0;
  background:lightgrey;
  align-items: flex-start;
}

.friends-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;

}



.chatbox{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 20rem;
  border:4px solid #415CE0;
}

.message-box{
  display: flex;
 background-color: #369FE0;
 width: 100%;
 height: 20%;  
}

.conversation {
  overflow-y:scroll;
  height:80%;
  width:100%;
  background:white;
}

