<footer>
<div class="chatbox-container">
    <div class="chat-menu">
            <div class="friends-container">
                <span>Friends</span>
                <ul class="friends-list">
                    <li class="friend"></li>
                </ul>
                <span>Messages</span>
                <span>Settings</span>
            </div>
    </div>
    <div class="chatbox">
        <div class="conversation"></div>
        <div class="message-box">
            <input class="send-message"type="text" placeholder="type..."/>
            <button class="send">send</button>
        </div>
    </div>
</div>
</footer>
<script src="./scripts/app.js" type="module"></script>
</body>
</html>
