<%- include("header", {title: title}); %>

<pre><%#= JSON.stringify(res, null, 4) %></pre>
<pre><%#= JSON.stringify(stats, null, 4) %></pre>

<body class="preload">
    <header>
        <h1>NOT STARWARS</h1>
        <h4>SuperDevsTM </h4>
    </header>
    <div class="grid-container">
        <%- include("nav"); %>
        <!--List items populated by Javascript-->
        <div class="middle-container">
            <div class="mid-top">
                <img src="/img/spaceport.jpg" alt="">
            </div>
            <!--Main dynamic container-->
        </div>
        <%- include("rightContainer"); %>
        <!--Hero-Section from JavaScript-->
    </div>

<%- include("footer"); %>
