<%- include("header", {title: title}); %>

<body class="preload">
    <header>
        <h1>NOT STARWARS</h1>
        <h4>SuperDevsTM </h4>
    </header>
    <div class="grid-container">
        <%- include("nav"); %>
        <!--List items populated by Javascript-->
        <div class="middle-container">
            <div class="mid-top">
                <img src="spaceport.jpg" alt="">
            </div>
            <!--Main dynamic container-->
        </div>
        <%- include("rightContainer"); %>
        <!--Hero-Section from JavaScript-->
    </div>

<%- include("footer"); %>
