<?php include "./static/header.html"?>

<body class="preload">
    <header>
        <h1>NOT STARWARS</h1>
        <h4>SuperDevsTM </h4>
    </header>
    <div class="grid-container">
        <?php include "./static/nav.html"?>
        <!--List items populated by Javascript-->
        <div class="middle-container">
            <div class="mid-top">
                <img src="./img/spaceport.jpg" alt="">
            </div>
            <!--Main dynamic container-->
        </div>
        <?php include "./static/rightContainer.html"?>
        <!--Hero-Section from JavaScript-->
    </div>

<?php include "./static/footer.html"?>
