<div class="right-container">
    <div class="right-top">
        <h3> <%= res.username %> </h3>
    </div>
    <div class="right-middle">
        <img src="hero-guy.jpg" alt="">
    </div>
    <div class="right-bottom">
        <p>Level: 12</p>
        <p>Experience: Not much</p>
        <p>Health: 110/120</p>
        <p>Currency: Brokeass</p>
        <a href="..."><p>Info</p></a>
        <a href="..."><p>Bio</p></a>
        <a href="..."><p>Eqipment</p></a>
    </div>

    <!--Hero-Section from JavaScript-->
</div>
